*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.containerheader{
    max-width:2000px;
    margin: 0 auto;
    display: flex;
}
.dropboxlogo{
    width: 700px;
    padding:10px 50px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.opzionidropbox{
    width: 700px;
    padding: 10px 50px;
    margin-left: 520px;
    display: flex;
    justify-content: space-between;
}

.bluebutton{
    background-color: rgb(49, 169, 209);
    border: 1px solid none;
    padding: 3px 13px;
}

.w-tot{
    width: 200px;
    padding: 10px 0px;
    margin: 30px 0px;
}
.containermain{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
}

.bg-lightblue{
    background-color: lightblue;
}

.containerjumbo{
    width: 100%;
}

h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.imgjumbotron{
    width: 600px;
    margin-top: 150px;
}

.contentjumbo{
    display: flex;
    position: relative;
}

.didascaliejumbo{
    position: absolute;
    bottom: 50px;
    left: 0px;
    line-height: 1;
    margin: 15px; 0px;
}

.downarrow{
margin-top: 50px;
}

.primadidascalia{
    margin-top: 50px;
}
.containersecondasezione{
    border: 1px dotted black;
    width: 100%;
    background-color: rgb(148, 62, 112);
}

.containermainsecondo{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: red;
}
h2{
    margin: 40px 0px;
}
.circles{
    display: flex;
    padding: 60px 0px;
}
.pallinoblu{
    height: 25px;
  width: 25px;
  background-color: #2c44c9;
  border-radius: 50%;
}
.pallinobianco{
    height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
 margin: 0px 13px;
 padding: 0px 0px;
}
.firstcolumns{
    width: 33%;
    background-color: yellow;
    border: 1px solid white;
    text-align: center;
    padding: 13px;
}
.colonne{
    display: flex;
    gap: 50px;
}
.secondcolumns{
    width: 33%;
    background-color: yellow;
    border: 1px solid white;
}
.altrecolonne{
    display: flex;
    gap: 50px;
}
h3{
    margin: 40px 20px;
}
ul{
    list-style-type: none;
    flex-direction: column;
    display: flex;
    line-height: 2;
    padding: 0px 15px;
}